.box1{
    background-color: bisque;
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

.box2{
    background-color: lightcoral;
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

.box3{
    background-color: lightseagreen;
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

.box4{
    background-color: lightslategray;
    width: 20%;
    height: 700px;
    margin: 2em 1em;
}

body{
    display: flex;
    justify-content: center;
}

img{
    width: 300px;
    margin: 2em;
}

.container{
    display: flex;
    justify-content: center;
}